@import "tailwindcss";

:root {
    --background: #000000;
    --foreground: #ffffff;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        var(--font-serif), ui-serif, Georgia, Cambria, "Times New Roman", Times,
        serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden; /* Prevent scrolling on the main body, handle in components */
}

/* Custom Utilities for cinematic feel if Tailwind isn't enough */
.glass-panel {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
